@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

@font-face {
	font-family: "elshaddai";
	src:url("../fonts/elshaddai.eot");
	src:url("../fonts/elshaddai.eot?#iefix") format("embedded-opentype"),
		url("../fonts/elshaddai.woff") format("woff"),
		url("../fonts/elshaddai.ttf") format("truetype"),
		url("../fonts/elshaddai.svg#elshaddai") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "elshaddai" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
	font-family: "elshaddai" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"].text:before,
[class*=" icon-"].text:before {
	color: #5f5fe8;
	padding-right: 1em;
	vertical-align: middle;
}

[class^="icon-"].social:before,
[class*=" icon-"].social:before {
	font-size: 1.25em;
}

[class^="icon-after-"]:after,
[class*=" icon-after-"]:after {
	display: inline-block;
	border-bottom: .5rem solid #35c6b7;
	padding: .5rem 3rem;
	color: #363636;
}

.icon-facebook:before {
	content: "a";
}
.icon-flicker:before {
	content: "b";
}
.icon-fone:before {
	content: "c";
}
.icon-googleplus-01:before {
	content: "d";
}
.icon-instagram:before {
	content: "e";
}
.icon-mail:before {
	content: "f";
}
.icon-pesquisa:before {
	content: "g";
}
.icon-socialicon:before {
	content: "h";
}
.icon-tv:before {
	content: "i";
}
.icon-twitter:before {
	content: "j";
}
.icon-youtube:before {
	content: "k";
}
.icon-audio:before {
	content: "l";
}
.icon-igrejas:before {
	content: "m";
}
.icon-calendario-bloco:before {
	content: "n";
}
.icon-lideranca:before {
	content: "o";
}
.icon-video:before {
	content: "p";
}
.icon-calendario-lista:before {
	content: "q";
}
.icon-tvelshaddai:before {
	content: "r";
}
.icon-foto:before {
	content: "s";
}
.icon-redes:before {
	content: "t";
}
.icon-perfil-pastor:before {
	content: "u";
}
.icon-noticias:before {
	content: "v";
}
.icon-ministerios:before {
	content: "w";
}
.icon-after-ministerios:after {
	content: "w";
}
.icon-visao:before {
	content: "x";
}
.icon-agenda:before {
	content: "y";
}
.icon-colunistas:before {
	content: "z";
}
.icon-endereco:before {
	content: "A";
}
.icon-estudos:before {
	content: "B";
}
.icon-historia:before {
	content: "C";
}
.icon-angle-double-right:before {
	content: "D";
}
.icon-close:before {
	content: "E";
}
.icon-left-open-big:before {
	content: "G";
}
.icon-right-open-big:before {
	content: "H";
}
.icon-right-dir:before {
	content: "F";
}

* {
	font-family: 'Source Sans Pro', sans-serif;
	
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

a:link,
a:visited {
	color: #313131;
}

a:hover {
	color: #33a9c9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
}

.huge {
	font-weight: 700;
	font-size: 165%;
}

h1.huge {
	font-size: 4.8125rem;
	letter-spacing: -.05em;
	margin-top: 7rem;
}

.light {
	font-weight: 300;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em,
h1 ~ em, h2 ~ em, h3 ~ em, h4 ~ em, h5 ~ em, h6 ~ em {
	font-weight: 400;
	font-size: .875em;
	padding-top: 1em;
	font-style: normal;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
h1 ~ small, h2 ~ small, h3 ~ small, h4 ~ small, h5 ~ small, h6 ~ small {
	font-weight: 400;
	color: #545454;
	display: inherit;
}

h1[class*='icon-'] > small,
h2[class*='icon-'] > small,
h3[class*='icon-'] > small,
h4[class*='icon-'] > small,
h5[class*='icon-'] > small,
h6[class*='icon-'] > small {
	margin-left: 2rem;
}

h2 {
	font-size: 1.875em;
}

#content > .wrapper.block {
	position: relative;
	background: #fff;
	color: #111;
}

ul.breadcrumbs {
	margin-top: .6875rem;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 0;
}

ul.breadcrumbs > * {
	color: #464646;
	line-height: 2.75em;
}

ul.breadcrumbs > * a {
	color: #111;
}

ul.breadcrumbs > *:before {
	content: "D";
	font-family: "elshaddai";
}

h1.logo {
	margin: 0;
	width: 7.375rem;
	height: 7.375rem;
	background: url("../images/logo.png");
	background-size: contain;
	font: 0/0 a;
	color: transparent;
	text-indent: -99999px;
}


h1.logo.pb {
	margin: 0;
	width: 88px;
	height: 79px;
	background: url("../images/logo_pb.png");
	background-size: contain;
	font: 0/0 a;
	color: transparent;
	text-indent: -99999px;
}

h2.logo-domini {
	margin: 0;
	width: 77px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
	background: url("../images/dominiDesign.png");
	background-size: contain;
	font: 0/0 a;
	color: transparent;
	text-indent: -99999px;
}

.playBtn {
	width: 2.25em;
	height: 2.25em;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 2px rgba(0,0,0,.4) inset;
}

.playBtn:after {
	content: "";
	display: inline-block;
	position: relative;
	top: .65em;
	left: .35em;
	width: 0;
	height: 0;
	border-top: .5em solid transparent;
	border-right: .5em solid transparent;
	border-bottom: .5em solid transparent;
	border-left: .625em solid #AE1000;

}

.spacing {
	margin-top: 3em;
	margin-bottom: 1.5em;
}

.orange {
	color: #f7941d !important;
}

.orange.block {
	background: #f7941d;
}

.yellow {
	color: #fbc712 !important;
}

.yellow.block {
	background: #fbc712;
}

.green {
	color: #39b54a !important;
}

.green.block {
	background: #39b54a;
}

.blue {
	color: #33a9c9 !important;
}

.blue.block {
	background: #33a9c9;
}

.deep_blue {
	color: #004C98 !important;
}

.deep_blue.block {
	background: #004C98;
}

.red {
	color: #ef3a41 !important;
}

.red.block {
	background: #ef3a41;
}

.pinky {
	color: #ed1384 !important;
}

.pinky.block {
	background: #ed1384;
}

.red.block.inverse:hover {
	background: #fae8e6;
	color: #ef3a41;
	box-shadow: 0 4px 12px -4px rgba(0,0,0,.2);
}

.greeny {
	color: #35c6b7 !important;
}

.greeny.block {
	background: #35c6b7;
}

.bluey {
	color: #6dcff6 !important;
}

.bluey.block {
	background: #6dcff6;
}

.purple {
	color: #5a4591 !important;
}

.purple.block {
	background: #5a4591;
}

.blacky {
	color: #4e4e4e !important;
}

.blacky.block {
	background: #4e4e4e;
}

.icy {
	color: #FEFEFE !important;
}

.icy.block {
	background: #FEFEFE;
}

.block {
	color: #EEE !important;
	font-weight: 700;
}

.unique {
	color: #e4e4e4 !important;
}

.unique.block {
	background: #e4e4e4;
	color: #565f73 !important;
}

a.block {
	font-weight: normal !important;
}

.block:before {
	color: #fff;
}

div.block {
	padding: 0 .6875em;
	line-height: 1;
}

h1.block, h2.block, h3.block,
h4.block, h5.block, h6.block {
	padding-left: 1em;
	line-height: 56px;
}

.uppercase {
	text-transform: uppercase;
}

section {
	margin-bottom: 3.5em;
}

section[role="offcanvas-nav"] {
	margin-bottom: 0;
}

a[data-custom-dropdown]:after {
	content: "";
	display: inline-block;
	margin-left: .5em;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 6px solid #FFF;
	transition: all .06s ease-in;
}

a[data-custom-dropdown].arrow-down:after {
	/*border-top: 6px solid #111;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-right: 2px;*/
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

a[data-custom-dropdown].arrow-down {
	color: #313131;
}

a[data-custom-dropdown].arrow-down:after,
a[data-custom-dropdown]:hover:after {
	border-left-color: #313131;
}

ul, ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.media-list {
	padding: 0;
	margin: 0;
}

ul.media-list li {
	padding: .875em 0 1.75em;
	border-bottom: 1px solid #d7d7d7;
}

ul.media-list.block li {
	padding: .6875em 0;
	margin: 0 .875em;
	border-bottom: 1px solid rgba(255,255,255,.25);
	box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

ul.media-list.block li.btn-holder {
	padding: 0;
	margin: 0;
}

ul.media-list.block li.btn-holder a {
	margin: 0;
}

ul.media-list.block li em {
	display: block;
	font-weight: 400;
	font-size: .875em;
	font-style: normal;
	text-transform: capitalize;
	color: #111;
}

ul.media-list.block li.heading {
	background: #4e4e4e;
	font-weight: 700;
	font-size: 1.125em;
	border-bottom: 0 none;
	box-shadow: none;
	margin: 0;
	padding-left: 1em;
}

ul.media-list li a:link,
ul.media-list li a:visited {
	display: block;
	font-size: 1.125em;
	line-height: 1;
}

.orange li a:link,
.orange li a:visited {
	color: #f7941d;
}

.yellow li a:link,
.yellow li a:visited {
	color: #fbc712;
}

.green li a:link,
.green li a:visited {
	color: #39b54a;
}

.blue li a:link,
.blue li a:visited {
	color: #448ccb;
}

.red li a:link,
.red li a:visited {
	color: #ef3a41;
}

.pinky li a:link,
.pinky li a:visited {
	color: #ed1384;
}

.greeny li a:link,
.greeny li a:visited {
	color: #35c6b7;
}

.bluey li a:link,
.bluey li a:visited {
	color: #6dcff6;
}

.purple li a:link,
.purple li a:visited {
	color: #5a4591;
}

.blacky li a:link,
.blacky li a:visited {
	color: #4e4e4e;
}

.button:hover {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.2) 100%);
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#33000000',GradientType=0 );

}

.button.tiny {
	font-size: 0.875rem !important;
	padding: .675em 2em .5em;
}

.orange .button {
	background-color: #f7941d;
	color: #FFF !important;
	display: inline-block !important;
}

.yellow .button {
	background-color: #fbc712;
	color: #FFF !important;
	display: inline-block !important;
}

.green .button {
	background-color: #39b54a;
	color: #FFF !important;
	display: inline-block !important;
}

.blue .button {
	background-color: #448ccb;
	color: #FFF !important;
	display: inline-block !important;
}

.red .button {
	background-color: #ef3a41;
	color: #FFF !important;
	display: inline-block !important;
}

.pinky .button {
	background-color: #ed1384;
	color: #FFF !important;
	display: inline-block !important;
}

.greeny .button {
	background-color: #35c6b7;
	color: #FFF !important;
	display: inline-block !important;
}

.bluey .button {
	background-color: #6dcff6;
	color: #FFF !important;
	display: inline-block !important;
}

.purple .button {
	background-color: #5a4591;
	color: #FFF !important;
	display: inline-block !important;
}

.blacky .button {
	background-color: #222;
	color: #FFF !important;
	display: inline-block !important;
}

img.thumb {
	width: 100%;
	border-top-style: solid;
	border-top-width: 3px;
}

img.thumb.orange {
	border-top-color: #f7941d;
}

img.thumb.yellow {
	border-top-color: #fbc712;
}

img.thumb.green {
	border-top-color: #39b54a;
}

img.thumb.blue {
	border-top-color: #448ccb;
}

img.thumb.red {
	border-top-color: #ef3a41;
}

img.thumb.pinky {
	border-top-color: #ed1384;
}

img.thumb.greeny {
	border-top-color: #35c6b7;
}

img.thumb.bluey {
	border-top-color: #6dcff6;
}

img.thumb.purple {
	border-top-color: #5a4591;
}

img.thumb.blacky {
	border-top-color: #4e4e4e;
}

img.highlight {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	margin-bottom: 1em;
}

img.highlight.orange {
	border-bottom-color: #f7941d;
}

img.highlight.yellow {
	border-bottom-color: #fbc712;
}

img.highlight.green {
	border-bottom-color: #39b54a;
}

img.highlight.blue {
	border-bottom-color: #448ccb;
}

img.highlight.red {
	border-bottom-color: #ef3a41;
}

img.highlight.pinky {
	border-bottom-color: #ed1384;
}

img.highlight.greeny {
	border-bottom-color: #35c6b7;
}

img.highlight.bluey {
	border-bottom-color: #6dcff6;
}

img.highlight.purple {
	border-bottom-color: #5a4591;
}

img.highlight.blacky {
	border-bottom-color: #4e4e4e;
}

div.date {
	display: inline-block;
	box-shadow: 0 6px 4px -4px rgba(0,0,0,.4);
}

div.date span {
	display: block;
	width: 62px;
	line-height: 1.33em;
	background: #fff;
	color: #4e4e4e;
	font-size: 2.25em;
	font-weight: 400;
	text-align: center;
}

div.date small {
	display: block;
	width: 62px;
	background: #4e4e4e;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.custom-pagination .page-numbers {
	padding: .15rem .5rem;
}

.custom-pagination .page-numbers:hover {
	background-color: #5a4591;
	color: white;
}

.custom-pagination .page-numbers.next:hover,
.custom-pagination .page-numbers.prev:hover {
	background-color: transparent;
	color: #5a4591;
}

@media only screen and (max-width: 40em){
	.wrapper {
		display: block;
		/*width: 36rem;*/
		width: 90%;
		margin: 0 auto;
	}

	h1.logo {
		width: 6.125rem;
		height: 6.125rem;
	}

	h1.logo.pb {
		width: 4rem;
		height: 3.5625rem;
	}

	.orbit-next, .orbit-prev, .orbit-bullets {
		display: block;
	}
	
	footer {
		height: 35.625em;
		padding-top: 3.125rem;
	}
	footer .sitemap-col:before {
		display: none;
	}
	footer .bottombar span.contact {
	 margin-left: 0; 
	 padding-left: 1rem;
	 line-height: 1;
	}
	footer hr {
		margin: 0 auto 1.125rem;
	}
} /* Define mobile styles */

@media only screen and (min-width: 40.063em) {
	.wrapper {
		display: block;
		width: 49.75rem;
		margin: 0 auto;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {
	.wrapper {
		display: block;
		width: 62.5rem;
		margin: 0 auto;
	}
} /* min-width 1025px, large screens */
